
@import url("layout.css");
@import url("footer.css");
@import url(https://weloveiconfonts.com/api/?family=brandico);
@import url(https://weloveiconfonts.com/api/?family=zocial);
@import url(https://weloveiconfonts.com/api/?family=iconicfill);

body{
    font-family: "Montserrat",Sans-serif;
    font-size: 14px;
    background-color:grey;
    margin: auto;
    padding: 10px;
}
.button{
    width: 150px;
    padding: 10px;
}
.title{
    font-size: 7vh;
    font-family: 'Permanent Marker', cursive;
}
.subtitle{
    font-size: 3vh;
    font-family: "Montserrat",Sans-serif;
    padding-bottom: 5px;
}
.container{
    display: grid;
    border: 2px solid red;
    margin-left:5vw;
    margin-right:5vw;
    width: 90vw;
    grid-template-rows: 20vh 70vh 10vh;
    grid-template-areas:
    "sd"
    "main"
    "ft"
}
.box{
 
    display: flex;
    border: 1px solid #8C8C8C;
    background-image:url(../images/bg.jpg);
    background-repeat: no-repeat;
	background-size:cover;
	background-attachment: fixed;
	background-position: center center;
    justify-content: start;
    align-items: start;
    
    
}
#navtitle{
    order: 1;
    grid-area: nav;
}
#sidebarbox{
    order: 2;
    grid-area: sd;
   
}
#contentbox{
    order: 3;
    grid-area: main;
}
#nestedGrid{
    display: grid;
    grid-template-columns: 60vw;
    grid-template-rows: 30vh;
    margin-left: auto;
    margin-right: auto;
    }

.example{
    width: 250px;
    height: 150px;
    border: 1px solid blue;
    margin-left: auto;
    margin-right: auto;
    }
    #one{
    background-image: url('../images/1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
   
    }

    #two{
    background-image: url('../images/2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    }

#footerbox{
    order: 4;
    grid-area: ft;
}

@media(min-width: 601px) and (max-width: 900px){
    .container{
        grid-template-columns: 30vw 30vw 20vw;
        grid-template-rows: 60vh 10vh; 
        grid-template-areas:
       
        "sd main main main "
        "ft ft ft ft"
    }
    .box{
        padding: 20px;
    }
    #headerbox{
        order: 1;
        grid-area: hd;   
    }
    #sidebarbox{
        order: 2;
        grid-area: sd;
    }
    #contentbox{
        order: 3;
        grid-area: main;  
    }
    #footerbox{
        order: 4;
        grid-area: ft; 
    }
}
    @media(min-width: 901px){
        .container{
            grid-template-columns: 40vh 10vh 10vh;
            grid-template-rows: 40vw 5vw;
            grid-template-areas:
            "sd main main main"
            "ft ft ft ft"
        }

        .box{
            padding: 10px;
        }
        #headerbox{
            order: 1;
            grid-area: hd;
            
        }
        #sidebarbox{
            order: 2;
            grid-area: sd;
          
        }
        #contentbox{
            order: 3;
            grid-area: main;
            
        }
        #footerbox{
            order: 4;
            grid-area: ft;
            
        }
    }
    
   /*4 Zocial icons*/

[class*="zocial-"]:before {
	color: black;
	display: inline-block;
	font-family: 'zocial', sans-serif;
	width: 2em;
	
  }
  [class*="brandico-"]:before {
	font-family: 'brandico', sans-serif;
	color: black;
	display: inline-block;
	width: 2em;
	
  }
  [class*="iconicfill-"]:before {
	font-family: 'IconicFill', sans-serif;
	color: black;
	display: inline-block;
	width: 2em;
	
  }


    
.listcolor{
    font-size: 1.5vw;;
    color:black;
 
}

nav{
    display:flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 10px;
    text-align: right;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    color: red;
  }
  footer{
    height: 10vh;
    padding: 10px;
    background-color: grey;
}